.classpath
.project
.settings
target
bin
metadata-parser-test/src/main/resources/META-INF
metadata-parser-test/src/test/java
api-javaee/src/
api-misc/src/
impl-jboss/src/main/java/
impl-misc/src/main/java/
impl-javaee/src/main/resources/META-INF/xsd/
impl-jboss/src/main/resources/META-INF/xsd/
impl-misc/src/main/resources/META-INF/xsd/
