.classpath
.project
.settings
target
bin
metadata-parser-test/src/main/resources/META-INF
metadata-parser-test/src/test/java
api-javaee/src
api-misc/src
impl-jboss/src
impl-misc/src
impl-javaee/src
impl-jboss/src
impl-misc/src
